    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:38
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-accordion:before { content: "\f100"; }
.flaticon-amplifier:before { content: "\f101"; }
.flaticon-amplifier-1:before { content: "\f102"; }
.flaticon-amplifier-2:before { content: "\f103"; }
.flaticon-amplifier-3:before { content: "\f104"; }
.flaticon-balalaika:before { content: "\f105"; }
.flaticon-banjo:before { content: "\f106"; }
.flaticon-bass-guitar:before { content: "\f107"; }
.flaticon-clarinet:before { content: "\f108"; }
.flaticon-cymbals:before { content: "\f109"; }
.flaticon-diapason:before { content: "\f10a"; }
.flaticon-drum:before { content: "\f10b"; }
.flaticon-drum-1:before { content: "\f10c"; }
.flaticon-drum-2:before { content: "\f10d"; }
.flaticon-drum-3:before { content: "\f10e"; }
.flaticon-drum-4:before { content: "\f10f"; }
.flaticon-drumsticks:before { content: "\f110"; }
.flaticon-drumsticks-1:before { content: "\f111"; }
.flaticon-earphones:before { content: "\f112"; }
.flaticon-earphones-1:before { content: "\f113"; }
.flaticon-electric-guitar:before { content: "\f114"; }
.flaticon-electric-guitar-1:before { content: "\f115"; }
.flaticon-equalizer:before { content: "\f116"; }
.flaticon-equalizer-1:before { content: "\f117"; }
.flaticon-flute:before { content: "\f118"; }
.flaticon-french-horn:before { content: "\f119"; }
.flaticon-gong:before { content: "\f11a"; }
.flaticon-harmonica:before { content: "\f11b"; }
.flaticon-harp:before { content: "\f11c"; }
.flaticon-headphones:before { content: "\f11d"; }
.flaticon-headphones-1:before { content: "\f11e"; }
.flaticon-ipod:before { content: "\f11f"; }
.flaticon-jukebox:before { content: "\f120"; }
.flaticon-maracas:before { content: "\f121"; }
.flaticon-metronome:before { content: "\f122"; }
.flaticon-mic:before { content: "\f123"; }
.flaticon-microphone:before { content: "\f124"; }
.flaticon-microphone-1:before { content: "\f125"; }
.flaticon-mixing:before { content: "\f126"; }
.flaticon-mixing-1:before { content: "\f127"; }
.flaticon-musical-note:before { content: "\f128"; }
.flaticon-oboe:before { content: "\f129"; }
.flaticon-piano:before { content: "\f12a"; }
.flaticon-piano-1:before { content: "\f12b"; }
.flaticon-piano-2:before { content: "\f12c"; }
.flaticon-piccolo:before { content: "\f12d"; }
.flaticon-quaver:before { content: "\f12e"; }
.flaticon-quaver-1:before { content: "\f12f"; }
.flaticon-saxophone:before { content: "\f130"; }
.flaticon-tambourine:before { content: "\f131"; }
.flaticon-tambourine-1:before { content: "\f132"; }
.flaticon-timpani:before { content: "\f133"; }
.flaticon-triangle:before { content: "\f134"; }
.flaticon-trombone:before { content: "\f135"; }
.flaticon-trumpet:before { content: "\f136"; }
.flaticon-tuba:before { content: "\f137"; }
.flaticon-turntable:before { content: "\f138"; }
.flaticon-turntable-1:before { content: "\f139"; }
.flaticon-turntable-2:before { content: "\f13a"; }
.flaticon-ukelele:before { content: "\f13b"; }
.flaticon-vinyls:before { content: "\f13c"; }
.flaticon-violin:before { content: "\f13d"; }
.flaticon-violin-1:before { content: "\f13e"; }
.flaticon-workstation:before { content: "\f13f"; }
.flaticon-workstation-1:before { content: "\f140"; }
.flaticon-workstation-2:before { content: "\f141"; }
.flaticon-workstation-3:before { content: "\f142"; }
.flaticon-workstation-4:before { content: "\f143"; }
.flaticon-workstation-5:before { content: "\f144"; }
.flaticon-xylophone:before { content: "\f145"; }
    
    $font-Flaticon-accordion: "\f100";
    $font-Flaticon-amplifier: "\f101";
    $font-Flaticon-amplifier-1: "\f102";
    $font-Flaticon-amplifier-2: "\f103";
    $font-Flaticon-amplifier-3: "\f104";
    $font-Flaticon-balalaika: "\f105";
    $font-Flaticon-banjo: "\f106";
    $font-Flaticon-bass-guitar: "\f107";
    $font-Flaticon-clarinet: "\f108";
    $font-Flaticon-cymbals: "\f109";
    $font-Flaticon-diapason: "\f10a";
    $font-Flaticon-drum: "\f10b";
    $font-Flaticon-drum-1: "\f10c";
    $font-Flaticon-drum-2: "\f10d";
    $font-Flaticon-drum-3: "\f10e";
    $font-Flaticon-drum-4: "\f10f";
    $font-Flaticon-drumsticks: "\f110";
    $font-Flaticon-drumsticks-1: "\f111";
    $font-Flaticon-earphones: "\f112";
    $font-Flaticon-earphones-1: "\f113";
    $font-Flaticon-electric-guitar: "\f114";
    $font-Flaticon-electric-guitar-1: "\f115";
    $font-Flaticon-equalizer: "\f116";
    $font-Flaticon-equalizer-1: "\f117";
    $font-Flaticon-flute: "\f118";
    $font-Flaticon-french-horn: "\f119";
    $font-Flaticon-gong: "\f11a";
    $font-Flaticon-harmonica: "\f11b";
    $font-Flaticon-harp: "\f11c";
    $font-Flaticon-headphones: "\f11d";
    $font-Flaticon-headphones-1: "\f11e";
    $font-Flaticon-ipod: "\f11f";
    $font-Flaticon-jukebox: "\f120";
    $font-Flaticon-maracas: "\f121";
    $font-Flaticon-metronome: "\f122";
    $font-Flaticon-mic: "\f123";
    $font-Flaticon-microphone: "\f124";
    $font-Flaticon-microphone-1: "\f125";
    $font-Flaticon-mixing: "\f126";
    $font-Flaticon-mixing-1: "\f127";
    $font-Flaticon-musical-note: "\f128";
    $font-Flaticon-oboe: "\f129";
    $font-Flaticon-piano: "\f12a";
    $font-Flaticon-piano-1: "\f12b";
    $font-Flaticon-piano-2: "\f12c";
    $font-Flaticon-piccolo: "\f12d";
    $font-Flaticon-quaver: "\f12e";
    $font-Flaticon-quaver-1: "\f12f";
    $font-Flaticon-saxophone: "\f130";
    $font-Flaticon-tambourine: "\f131";
    $font-Flaticon-tambourine-1: "\f132";
    $font-Flaticon-timpani: "\f133";
    $font-Flaticon-triangle: "\f134";
    $font-Flaticon-trombone: "\f135";
    $font-Flaticon-trumpet: "\f136";
    $font-Flaticon-tuba: "\f137";
    $font-Flaticon-turntable: "\f138";
    $font-Flaticon-turntable-1: "\f139";
    $font-Flaticon-turntable-2: "\f13a";
    $font-Flaticon-ukelele: "\f13b";
    $font-Flaticon-vinyls: "\f13c";
    $font-Flaticon-violin: "\f13d";
    $font-Flaticon-violin-1: "\f13e";
    $font-Flaticon-workstation: "\f13f";
    $font-Flaticon-workstation-1: "\f140";
    $font-Flaticon-workstation-2: "\f141";
    $font-Flaticon-workstation-3: "\f142";
    $font-Flaticon-workstation-4: "\f143";
    $font-Flaticon-workstation-5: "\f144";
    $font-Flaticon-xylophone: "\f145";